@font-face {
    font-family: 'NoahHead';
    src: url(/app/style/fonts/NoahHead-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
$color_txt: #484ddb;
$hover_color: #f2f2f5;
$fontFamily: NoahHead;

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f5;
}
.grid {
    display: grid;
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
a {
    text-decoration: none;
    color: #000;
}
// Page

.page {
    grid-template-columns: 240px 1fr;
    padding: 0 0 80px;
}
nav {
    padding: 24px 0 0 0;
    background-color: #fff;
    height: 100%;
    .nav_logo {
        margin: 0 24px 26px;
        a {
            img {
                width: 100%;
            }
        }
    }
    ul {
        margin-top: 96px;
        padding: 0 24px;
        li {
            display: grid;
            grid-template-columns: .3fr 1fr;
            padding: 8px 24px 8px 0;
            margin: 4px 0;
            cursor: pointer;
            transition: .2s ease;
            border-radius: 3px;
            span {
                font-family: $fontFamily;
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                color: #3a3a5d;
            }
            img {
                width: 24px;
                height: 24px;
            }
            &:hover {
                background-color: $hover_color;
                span {
                    color: #484ddb;
                }
            }
        }
    }
}

main {
    margin: 0 80px 80px 80px;
    header {
        box-shadow: 0 10px 32px 0 rgba(9, 9, 52, .2);;
        grid-template-columns: .4fr 1fr;
        background-color: #fff;
        padding: 24px 40px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .left_side {
            grid-template-columns: 200px 1fr;
            button {
                grid-template-columns: 1fr .3fr;
                height: 32px;
                font-family: $fontFamily;
                font-size: 16px;
                font-weight: bold;
                color: #3a3a5d;
                border: none;
                margin-right: 16px;
                line-height: 24px;
                text-align: center;
                background-color: #f2f2f5;
                padding: 5px;
                cursor: pointer;
                border-radius: 8px;
                width: 186px;
                img {
                    height: 24px;
                }
            }
        }
        .right_side {
            grid-template-columns: repeat(3, 60px);
            grid-column-end: end;
            .right_side_search, .right_side_bell, .right_side_name {
                width: 48px;
                height: 48px;
                text-align: center;
                border-radius: 50%;
            }
            .right_side_search, .right_side_bell {
                background-color: #484ddb;
                a {
                    img {
                        width: 24px;
                        height: 24px;
                        margin: 12px;
                    }
                }
            }
            .right_side_bell {
                position: relative;
                .bell_notify {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: red;
                    text-align: center;
                    line-height: 24px;
                    font-size: 14px;
                    font-family: $fontFamily;
                    color: #fff;
                    top: 0;
                    right: -3px;
                }
            }
            .right_side_name {
                background-color: #d0fbb0;
                a {
                    color: #000;
                    font-size: 24px;
                    line-height: 48px;
                    font-weight: 700;
                }
            }
        }
    }
    .section_clients {
        background-color: #fff;
        margin: 80px 0 ;
        border-radius: 8px;
        .client_head {
            grid-template-columns: 1fr 1fr;
            padding: 24px 40px;
            .client_head_list {
                width: 320px;
                font-size: 24px;
                font-family: $fontFamily;
                font-weight: bold;
                color: #090934;
                height: 40px;
                line-height: 40px;
            }
            .buttons_search {
                text-align: right;
                .btn_client {
                    height: 40px;
                    padding: 10px;
                    border: none;
                    border-radius: 8px;
                    background-color: #f2f2f5;
                    cursor: pointer;
                    transition: .2s ease;
                    &:hover {
                        background-color: #484ddb;
                        span {
                            color: #fff;
                        }
                    }
                    span {
                        font-size: 16px;
                        font-weight: bold;
                        color: #3a3a5d;
                        height: 20px;
                    }
                    img {
                        padding: 0px 0 0 8px;
                        height: 14px;
                    }
                }
                .btn_search_filters {
                    display: none;
                }
            }
            
            
        }
        .clients_search {
            padding: 24px 40px;
            display: none;
            .client_search_form {
                form {
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 50px;
                    .search_form {
                        border: none;
                        border-bottom: 2px solid #484ddb;
                        padding: 10px 5px;
                        font-size: 16px;
                        font-weight: 700;
                        font-family: $fontFamily;
                        background-color: #fff;
                        outline: none;
                        color: #848499;
                    }
                    .search_form_name {
                        background-image: url('./img/nav/X-circle.png') no-repeat 3px 1px;
                        background-size: auto 90%;
                    }
                }
                
                
            }
        }
        .client_filters {
            grid-template-columns: repeat(10,1fr);
            height: 72px;
            background-color: #686ce1;
            .filters {
                position: relative;
                cursor: pointer;
                &:hover {
                    background-color: #171c8f;
                    img {
                        opacity: 1;
                    }
                }
                
                div {
                    height: 17px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: bold;
                    text-align: left;
                }
                img {
                    width: 16px;
                    height: 16px; 
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    margin-top: -8px;
                    opacity: 0;
                }
            }
            ._id {
                padding: 28px 20px 27px 12px;
            }
            ._country {
                padding: 28px 12px 27px;
            }
            ._phone, ._email, ._manager, 
            ._last-name, ._country,
             ._date-create  {
                padding: 28px 12px 27px;
            }
            ._last-comment,._date-comment {
                padding: 19px 12px;
            }
            ._category {
                padding: 28px 40px 27px 12px;
            }
            ._date-create {div{width: 120px}}
            ._last-name {div {width: 144px}}
            ._id {div{width: 72px}}
            ._country {div{width: 112px}}
            ._phone {div{width: 112px}}
            ._email {div{width: 128px}}
            ._manager {div{width: 128px}}
            ._date-comment {div{width: 120px}}
            ._last-comment {div{width: 160px}}
            ._category {div{width: 80px}}
        }
        #client_section {
            height: 72px;
            background-color: #fff;
            height: 1100px;
            .client_section_content {
                grid-template-columns: repeat(10,1fr);
                margin: 0;
                padding: 0;
                background-color: #fff;
                .section_content {
                    cursor: pointer;
                    &:hover {
                        background-color: #f2f2f5;
                    }
                    
                    div {
                        text-align: left;
                        font-family: $fontFamily;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .content_date-create {
                    padding: 27px 12px 28px 40px;
                    height: 17px;
                    div {
                        width: 120px;
                    }
                }
                .content_last-name {
                    padding: 28px 12px 27px 15px;
                    height: 17px;
                    position: relative;
                    color: #484ddb;
                    .last-name-paint {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -4px;
                        width: 8px;
                        height: 8px;
                        background-color: #21c063;
                        border-radius: 50%;
                    }
                    div {
                        width: 144px;
                    }
                }
                .content_id {
                    padding: 28px 12px;
                    div {
                        height: 24px;
                        width: 72px;
                    }
                }
                .content_country {
                    position: relative;
                    padding: 28px 32px;
                    height: 24px;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 6px;
                        margin-top: -13px;
                        width: 24px;
                        height: 18px;
                        border-radius: 4px;
                        box-shadow: 0 4px 16px 0 rgba(9, 9, 52, 0.16);
                    }
                    div {
                        width: 112px;
                        
                    }
                }
                .content_phone {
                    padding: 28px 12px 27px;
                    height: 17px;
                    color: #484ddb;
                    div {
                        width: 112px;
                    }
                }
                .content_email {
                    padding: 27px 12px 28px; 
                    height: 17px;
                    color: #484ddb;
                    div {
                        width: 128px;
                    }
                }
                .content_manager {
                    padding: 27px 12px 28px;
                    height: 17px;
                    div {
                        width: 128px;
                    }
                } 
                .content_date-comment {
                    padding: 27px 12px 28px;
                    height: 17px;
                    div {
                        width: 120px;
                    }
                }
                .content_last-comment {
                    padding: 19px 12px;
                    height: 34px;
                    div {
                        width: 160px;
                    }
                    a {
                        color: #484ddb;
                        text-decoration: underline;
                        &:hover {
                            color: #000099;
                        }
                    }
                }
                .content_category {
                    padding: 28px 40px 27px 12px;
                    height: 17px;
                    div {
                        width: 80px;
                    }
                }
            }
        }
        .list_page {
            text-align: center;
            margin-bottom: 50px;
            ul {
                li {
                    display: inline-block;
                    font-size: 16px;
                    font-family: $fontFamily;
                    font-weight: 700;
                    background-color: #f2f2f5;
                    color: #484ddb;
                    padding: 12px 18px;
                    border-radius: 8px;
                    cursor: pointer;
                    margin: 0 5px;
                    &:hover {
                        background-color: #484ddb;
                        color: #fff;
                    }
                }
            }
        }
    }
    
}

